*{margin: 0%;
}
body{
  background-image: url(../img/background.png);
}
/*nagłówek*/
#navbar{
height: 2.5em;
width: 100%;
background-color: 	#CDCDC3;
position: relative;
color: rgb(160, 151, 151);
}
#navbar img{
    padding: 0.1em;
    align-items: center;
}
.contactinfo{
    float: left;
    position: relative;
  
}
.contactinfo a:link{
    text-decoration: none;
    color: antiquewhite;
}

.socialmedia{
    position: relative;
    text-align: right;
}

/* takeme*/
#takeme {
  width: 100%; 
  flex-wrap: wrap;
  height: 150px;
  display: flex;
  align-items: center;
}
#logo{
    float: left;
    height: 150px;
}
#logo img{
    height: 150px;
    width: 250px;    
}
#rightbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 500px;
  }
  
  #rightbar li {
    float: left;
  }
  
  #rightbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  

/*slide*/
#slide{
height: 800px;
width: 100%;
position: relative;
}

slider > * {
    position: absolute;
    /* display: block; */
    width: 100%;
    height: 100%;
    left: 100%;
    background-color: #1f1f1f;
    -webkit-animation: slide 12s infinite;
    -moz-animation: slide 12s infinite;
    -o-animation: slide 12s infinite;
    animation: slide 12s infinite;
    overflow: hidden;
  }
  
  slide:nth-child(1) {
    left: 0%;
    -webkit-animation-delay: -1s;
    -moz-animation-delay: -1s;
    -o-animation-delay: -1s;
    animation-delay: -1s;
     background-image: url(../img/restaruant1.png);
    background-size: cover;
    background-position: bottom;
  }
  
  
  
  slide:nth-child(2) {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;
    background-image: url(../img/restaurant2.jpg);
    background-size: cover;
    background-position: bottom;
  }
  
  slide:nth-child(3) {
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 5s;
    background-image: url(../img/restaurant3.jpg);
    background-size: cover;
    background-position: bottom;
  }
  
  slide:nth-child(4) {
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    -o-animation-delay: 8s;
    animation-delay: 8s;
    background-image: url(../img/restaurant4.jpg);
    background-size: cover;
    background-position: bottom;
  }
  
  
  slide p {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 20vh;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 30vh;
    color: white;
    text-shadow: 0px 0px 500px black;
  }
  
  
  
  
  @-webkit-keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
  @-moz-keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
  @-o-keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
  @keyframes slide {
    0% {left: 100%; width: 100%} 
    5% {left: 0%;} /* IN */
    25% {left: 0%;} /*SHOW*/
    30% {left: -100%; width: 100%;} /*OUT*/
    30.00001% {left: -100%; width: 0%}
    100% {left: 100%;width: 0%;} /*SLEEP*/
  }
  
/*recomends*/
#recommends{
height: 100.5em;
width: 100%;
position: relative;
}
#recommends h1{
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #1f1f1f;
  margin-top: 1em;
  font-size: 6em;
}
.rec{
height: 31.5em;
width: 100%;
float: left;
color: white;
}
.recimage{
  height: 31.5em;
  width: 30%;
  float: left;
}
.recimage img{
  max-height: 60%;
  max-width: 80%;
  display: block;
  margin: 20% auto; 
  border-radius: 5%;
}
.recinfo{
  height: 31.5em;
  float: right;
  width: 70%;
  text-align: center;
  font-size: 2.2vh;
  
}
.recinfo p{
  max-height: 60%;
  max-width: 80%;
  display: block;
  margin: 20% auto; 
  color: #1f1f1f;

}

/*Cookers*/
#cookers{
height: 100.5em;
width: 100%;
position: relative;
}
#cookers h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  margin-top: 1em;

}
.cooker{
height: 31.5em;
width: 100%;
float: left;
}

.cokimage{
  height: 31.5em;
  width: 30%;
  float: left;
}
.cokimage img{
  max-height: 60%;
  max-width: 80%;
  display: block;
  margin: 20% auto; 
  border-radius: 5%;
  
}
.cokinfo{
  height: 31.5em;
  float: right;
  width: 70%;
  text-align: center;
  font-size: 2.2vh;
  
}
.cokinfo p{
  max-height: 60%;
  max-width: 80%;
  display: block;
  margin: 20% auto; 
  color: #1f1f1f;

}


/*Contact Form*/
#contactform{
height: 31.5em;
width: 100%;
float: left;
position: relative;
text-align: center;

}
.form{
height: 31.5em;
width: 100%;
float: left;
position: relative;
width: 50%;
}
.form a{
  text-decoration: none;
  color: black;
  margin-right: 1em;
  vertical-align: middle;
} 

.form label{
  width: 200px;
  display: inline-block;
  font-size: 1em;
  line-height: 20px;
}

.form input{
  height: 30px;
  width: 300px;
  font-size: 20px;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
}
.form select{
  height: 30px;
  width: 300px;
  font-size: 20px;
  display: inline-block;
  margin-top: 10px;
}
.map{
  height: 31.5em;
  width: 100%;
  float: right;
  width: 40%;
  margin-right: 3em; 
  }
.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:27.5em;
}

/*footer*/
#footer{
    clear: both;
    position: relative;
    height: 2.5em;
    width: 100%;
    background-color: 	#CDCDC3	;
    text-align: center; 
    }


    @media (max-width: 768px) { 
        .contactinfo {
            height: 2.5em;
            font-size: 0.8em;
            display: flex;
            align-items: center;
        }
        #logo img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
        #rightbar{
            display: none;
        }
        #slide{
            height: 24em;
            width: 100%;
            background-color: red;
            position: relative;
            margin: auto;
            }
        #slide p {
          font-family: 'Sue Ellen Francisco', cursive;
          text-align: center;
          font-size: 3em;
          width: 100%;
          display: inline-block;
          color: white;
          margin-top: 40%;
          text-shadow: 0px 0px 500px black;
          }
          .recimage{
            float: left;
            width: 100%;
            position: relative;
            height: 15em;
          }
          .recimage img{
            max-width: 80%;
            max-height: 90%;
            margin: 0 auto;
          }
          .recinfo{
            float: left;
            width: 100%;
            position: relative;
            height: 10em;
            align-items: center;
          }
          .cokimage{
            float: left;
            width: 100%;
            position: relative;
            height: 15em;
          }
          .cokimage img{
            max-width: 80%;
            max-height: 90%;
            margin: 0 auto;
          }
          .cokinfo{
            float: left;
            width: 100%;
            position: relative;
            height: 10em;
            align-items: center;
          }
          #contactform{
            height: 31.5em;
            width: 100%;
            float: left;
            position: relative;
            text-align: center;
          }
          .form{
            width: 100%;
            position: absolute;
            height: 15em;
            font-size: 0.8em;
            float: left;
          }
          .map{
            float: left;
            width:  auto;
            margin: 0 2em 0 2em;
            position: absolute;
            height: 10em;
            align-items: center;
            display: none;
          }
     }